<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">Registrar cuenta</ion-title>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/login-pasa']">
        <ion-icon style="color: white;" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="fm">
    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm.value)">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.nombre">
          <div *ngIf="registerForm.get('nombre').hasError(validation.type) &&
          (registerForm.get('nombre').dirty || registerForm.get('nombre').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Celular</ion-label>
        <ion-input formControlName="celular"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.celular">
          <div *ngIf="registerForm.get('celular').hasError(validation.type) &&
          (registerForm.get('celular').dirty || registerForm.get('celular').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>  
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Curp</ion-label>
        <ion-input formControlName="curp"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.curp">
          <div *ngIf="registerForm.get('curp').hasError(validation.type) &&
          (registerForm.get('curp').dirty || registerForm.get('curp').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>  
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.email">
          <div *ngIf="registerForm.get('email').hasError(validation.type) &&
          (registerForm.get('email').dirty || registerForm.get('email').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>  
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.password">
          <div *ngIf="registerForm.get('password').hasError(validation.type) &&
          (registerForm.get('password').dirty || registerForm.get('password').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>  
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-item>
        <ion-label position="floating">Matricula</ion-label>
        <ion-input formControlName="idMatricula"></ion-input>
      </ion-item>
      <div class="validation-error">
        <ng-container *ngFor="let validation of validation_messages.idMatricula">
          <div *ngIf="registerForm.get('idMatricula').hasError(validation.type) &&
          (registerForm.get('idMatricula').dirty || registerForm.get('idMatricula').touched)">
          <ion-icon name="alert-circle-outline"></ion-icon>  
          {{validation.message}}
          </div>
        </ng-container>
      </div>
      <ion-button expand="full" [disabled]="!registerForm.valid" type="submit"
      shape="round">Enviar</ion-button>
    </form>
  </div>
</ion-content>
