.fmr{
    margin: 30px 25px 25px;
    color: rgb(207, 23, 23);
}
.validation-error{
    padding: 2px 0 2px;
}
h4{
    color: #278ea5;
    text-align: center;
}
ion-button{
    padding: 3px;
}
ion-item{
    --border-radius: 10px;
    --border-style: none;
}