.fr{
  margin: 40px 30px 30px;
  color: rgb(207, 23, 23);
}
.fr h4{
  text-align: center;
  color: black;
}
.validation-error{
  padding: 2px 0 2px;
}
ion-item{
  --border-radius: 20px;
  --border-style: none;
}