<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">Acerca de</ion-title>
    <ion-buttons slot="start" size="large">
      <ion-button [routerLink]="['/menu/home']">
        <ion-icon style="color: white;" 
        name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Desarrollador</ion-card-title>
      <ion-card-subtitle>Estudiante: Miguel Angel Guillen Valdez</ion-card-subtitle>
      <ion-label>Matricula: 191317</ion-label>
      <ion-label>Correo: 191317@utags.edu.mx</ion-label>
      <ion-label>Grado y Grupo: 5C</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Desarrollador</ion-card-title>
      <ion-card-subtitle>Estudiante: Jose de Jesus Flores Ruvalcaba</ion-card-subtitle>
      <ion-label>Matricula: 191390</ion-label>
      <ion-label>Correo: 191390@utags.edu.mx</ion-label>
      <ion-label>Grado y Grupo: 5C</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Desarrollador</ion-card-title>
      <ion-card-subtitle>Estudiante: Cristian Omar Puentes Díaz</ion-card-subtitle>
      <ion-label>Matricula: 170842</ion-label>
      <ion-label>Correo: 170842@utags.edu.mx</ion-label>
      <ion-label>Grado y Grupo: 5C</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Desarrollador</ion-card-title>
      <ion-card-subtitle>Estudiante: Bryan Alfredo Flores Jara</ion-card-subtitle>
      <ion-label>Matricula: 191271</ion-label>
      <ion-label>Correo: 191271@utags.edu.mx</ion-label>
      <ion-label>Grado y Grupo: 5C</ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-card-title>Desarrollador</ion-card-title>
      <ion-card-subtitle>Estudiante: Angel Mauricio Velázquez Rodríguez</ion-card-subtitle>
      <ion-label>Matricula: 191315</ion-label>
      <ion-label>Correo: 191315@utags.edu.mx</ion-label>
      <ion-label>Grado y Grupo: 5C</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
