.fmr{
    margin: 30px 30px 20px;
    color: rgb(207, 23, 23);
}
.fmr h4{
    text-align: center;
    color: black;
}
.validation-error{
    padding: 4px;
}
.b{
    float: right;
    margin: 0 45px;
}
ion-icon{
    position: absolute;
}
ion-item{
    --border-style: none;
    --border-radius: 20px;
}